<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>博客后台</title>
    <link rel="stylesheet" type="text/css" href="{P}/css/app.css" />
</head>
<body>
<div class="wrapper">
    <!-- START HEADER -->
        {include file="../Public/header.html"}
    <!-- END HEADER -->

    <!--  START MAIN -->
    <div id="main">
        <!-- START SIDEBAR -->
        {include file="../Public/sidebar.html"}
        <!-- END SIDEBAR -->

        <!-- START PAGE -->
         <div id="page">
            <!-- start page title -->
             <div class="page-title">
                <div class="in">
                    <div class="titlebar">
                        <h2>分類管理</h2>
                        <p>添加分類</p>
                    </div>
                    <div class="clear"></div>
                </div>
             </div>
             <!-- end page title -->

             <!-- start content -->
              <div class="content">
                <div class="simplebox grid740" style="z-index: 720;">
                    <div class="titleh" stylle="z-index:710">
                        <h3>添加分類</h3>
                    </div>
                    <div class="body" style="z-index:690">
                        <form id="form" name="form2" method="post" action="index.php?p=admin&c=Category&a=insert"
                              class="st-form" style="z-index: 700">
                            <div class="st-form-line" style="z-index: 680">
                                <span class="st-laveltext">名稱</span>
                                <input name="name" type="text" class="st-forminput" style="width:510px" value="">
                                <div class="clear" stye="z-index:670"></div>
                            </div>
                            <div class="st-form-line" stye="z-index:640">
                                <span class="st-labeltext">父分類</span>
                                <select name="parent_id" class="uniform">
                                    <option value="0">無</option>
                                    {foreach $smarty.session.categories as $cat}
                                        <option value="{$cat.id}">{str_repeat('----',$cat.level)}{$cat.name}</option>
                                    {/foreach}
                                </select>
                                <div class="clear"></div>
                            </div>
                            <div class="st-form-line" stye="z-index:680">
                                <span class="st-laveltext">排序</span>
                                <input type="text" name="sort" class="st-forminput" style="width:510px"
                                    value="">
                                <div class="clear" style="z-index: 670;"></div>
                            </div>

                            <div class="button-box" stye="z-index:460">
                                <input type="submit" class="button" value="提交" class="st-button"/>
                            </div>
                        </form>

                    </div>
                </div>
              </div>
              <!-- end content -->
         </div>
         <!-- end page -->
          <div class="clear"></div>
    </div>
    <!-- END MAIN -->
    <!-- START FOOTER -->
    {include file="../Public/footert.html"}
    <!-- END FOOTER -->
</div>
</body>
</html>